:root{
    --font: monospace;
    --bg-color: rgb(29, 27, 31);
    --primary-color: white;
    --secondary-color: var(--secondary-color);;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: monospace;
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    background-color: var(--bg-color)
    margin: 40px;
}

main{
    width: 50%;
}

h2{
    font-size: 32pt;
    font-weight: normal;
    text-align: center;
    margin-bottom: 40px;
}

.button-container{
    justify-content: space-between;
    display: grid;
    grid-template-columns: 20% 20% 20%;
}

button{
    font-family: monospace;
    font-size: 18pt;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
    border: 2px solid var(--primary-color);;
    color: var(--primary-color);;
    background-color: var(--secondary-color);;
    transition: all 0.5s;
}